
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url(styles/header.css);
@import url(styles/section1.css);
@import url(styles/section2.css);
@import url(styles/section3.css);
@import url(styles/section4.css);
@import url(styles/footer.css);

:root {
    --primary-font: "M PLUS Rounded 1c", serif;
    --second-font: "Nunito", sans-serif;
    --color-black: #000;
    --color-gray: #2E2D36;
    --color-white: #fff;
    --color-purple: #A66CEE;
    --color-purple2: #9b65dd;
    --color-blue: #36ACCD;

    --background-color1: #EFE1FF;
    --background-color2: #FFD1E5;
    --background-color3: #B0E8E9;
    --background-color4: #F7D9B2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: var(--second-font);
    color: var(--color-black);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}