.header-container {
    background-color: var(--color-white);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5% 10% 0.5% 10%;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header-logo-content > img {
    width: 4vw;
    transition: .4s;
}

.header-logo-content > img:hover {
    transform: scale(1.1);
}

.header-logo-content > span {
    color: var(--color-blue);
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
}

.text-transform {
    transition: .4s;
}

.text-transform:hover {
    transform: scale(1.1);
}

/* GAMES */

.header-games {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header-games-text > a {
    font-size: 1.2rem;
    font-family: var(--second-font);
    font-weight: 300;
    color: var(--color-gray);
    text-transform: uppercase;
}

.header-games-link > span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-games-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header-games-link > img {
    width: 4vw;
}

@media (min-width: 0px) and (max-width: 850px) {

    .header-content {
        padding: 0% 5% 0% 5%;
    }

    .header-logo {
        display: flex;
        justify-content: space-between;
        padding: 2.5% 0% 2.5% 0%;
        gap: 0.8rem;
    }

    .header-logo-content > img {
        width: 15vw;
    }

    .header-logo-content > span {
        display: none;
    }

    .header-games {
        gap: 1.5rem;
    }

    .header-games-link > img {
        width: 10vw;
    }
}