
/* PRESETS */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-font: "M PLUS Rounded 1c", serif;
    --second-font: "Nunito", sans-serif;
    --color-black: #000;
    --color-gray: #2E2D36;
    --color-white: #fff;
    --color-purple: #A66CEE;
    --color-purple2: #9b65dd;
    --color-blue: #36ACCD;
    --color-border: #d8afc0;

    --background-color1: #EFE1FF;
    --background-color2: #FFD1E5;
    --background-color3: #B0E8E9;
    --background-color4: #F7D9B2;


}

a {
    text-decoration: none;
    color: var(--color-black);
}

/* STYLE */

/* styles.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background-color1);
    margin: 0;
    padding: 3% 0% 0% 0%;
    color: var(--color-gray);
  }
  
  #game-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 800px;
  }
  
  .side {
    width: 80%;
    background-color: var(--background-color1);
    padding: 2% 4% 2% 4%;
    border: 2px solid var(--color-border);
    border-radius: 8px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 25px;
    margin: 10px 0;
    background: var(--background-color2);
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
  }
  
  li.correct {
    background: #8de4a1;
    border-color: #2fdd58;
  }
  
  li.wrong {
    background: #ff808a;
    border-color: #dc3545;
  }
  
  li:hover {
    background-color: var(--color-purple);
  }
  
  #message {
    margin: 10px auto 20px;
    font-size: 18px;
    font-weight: bold;
  }

  .game-text {
    font-family: var(--primary-font);
    font-weight: 800;
    color: var(--color-gray);
  }

  .text-title {
    font-size: 1.5rem;
  }
  
  .text-desc {
    font-size: 1.5rem;
  }

  .content-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .content-text > img {
    width: 5vw;
  }

  .return-text {
    color: var(--color-gray);
    font-family: var(--second-font);
    font-size: 1.2rem;
  }
  
  @media (min-width: 0px) and (max-width: 850px) {

    body {
      padding: 10% 0% 0% 0%;
    }

    #game-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    li {
      padding: 15px;
    }

    .text-title {
      font-size: 1.2rem;
    }
    
    .text-desc {
      font-size: 1.2rem;
    }

    .content-text > img {
      width: 15vw;
    }

  }