.header-container {
    background-color: var(--background-color1);
}

.header-content {
    display: flex;
    align-items: center;
    padding: 0.5% 10% 0.5% 10%;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

}

.header-logo-content > img {
    width: 4vw;
    transition: .4s;
}

.header-logo-content > img:hover {
    transform: scale(1.1);

}

.header-logo-content > span {
    color: var(--color-blue);
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;

}

.text-transform {
    transition: .4s;
}

.text-transform:hover {
    transform: scale(1.05);
}

/* RESPONSIVE */

@media (min-width: 0px) and (max-width: 850px) {

    .header-content {
        display: flex;
        justify-content: center;
    }

    .header-logo {
        display: flex;
        justify-content: center;
        padding: 3.5% 0% 3.5% 0%;
        gap: 0.5rem;
    }

    .header-logo-content > img {
        width: 15vw;
    }

    .header-logo-content > span {
        font-size: 2rem;
    }
}