.header-container {
    background-color: var(--color-black);
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1% 5% 1% 5%;
}

.header-logo-content > img {
    width: 3vw;
    border-radius: 2rem;
}